BeautifulSoup==3.2.1
Pillow==2.5.3
PyYAML==3.11
argparse==1.2.1
cssselect==0.9.1
goose-extractor==1.0.20
gunicorn==19.0.0
jieba==0.32
lxml==3.3.5
nltk==2.0.4
numpy==1.8.1
requests==2.3.0
rfc3987==1.3.4
web.py==0.37
wsgiref==0.1.2