@import url(http://fonts.googleapis.com/css?family=Special+Elite);

/*===GENERAL PRESENTATION===*/
/*===Body Presentation and Margins===*/

body
{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 87.5%;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;
}

#index-page, #request-page, #results-page {
    background-color: #f7f7f7;
}    

#page-wrapper {
  min-height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bottom-spacer {
    height: 50px;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/*===Headings===*/
h1
{
font-family:Verdana, Helvetica, Arial, sans-serif;
text-indent: 0;
text-align: left;
margin: 50px 0 25px 0;
font-size: 2.0em;
font-weight: bold;
page-break-before: always;
}

h2
{
font-family:Verdana, Helvetica, Arial, sans-serif;
text-indent: 0;
text-align: left;
margin: 50px 0 10px 0;
font-size: 1.5em;
font-weight: bold;
}

h3
{
font-family:Verdana, Helvetica, Arial, sans-serif;
text-indent: 0;
text-align: left;
font-size: 1.4em;
font-weight: bold;
}

h4
{
font-family:Verdana, Helvetica, Arial, sans-serif;
text-indent: 0;
text-align: left;
font-size: 1.2em;
font-weight: normal;
}

/*===Paragraph Elements===*/
p
{
text-indent: 0;
margin: 1.0em 1.0em 1.0em 0em;
}

/* for centered text and element wrappers on images*/
p.centered
{
text-indent: 0;
margin: 1.0em 0 0 0;
text-align: center;
}

/*==IMAGES==*/
img
{
max-width: 100%;
}

/*===IN-LINE STYLES===*/

span.emphasis {
	font-style:italic;
}


/*==Lists ==*/
ol, ul
{
margin: 1em 2em 0em 2em;
text-align: left;
}

/* list without bullet for continuing paragraphs or images in lists */
ul.no_bullet
{
list-style-image: url("images/empty_bullet.gif");
margin: 1em 2em 0 2em;
text-align: left;
}

/* list items with some space between items */
li
{
margin: 1em 2em 0 0;
}

/* Tables */
/* copied from namaniatsea.org */
.spectrum table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /* background: none repeat scroll 0 0 #FFFFFF; */
    border-color: #CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


/*===submit button styling===*/
/* styling copied from Google search page */
.submit-button {
    background: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #666666 !important;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    min-width: 60px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
}

.submit-button:hover, .submit-button:focus {
    background: #DDDDDD;
    border-color: #C6C6C6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px #FFFFFF inset;
    color: #222222;
}


#request-page h1, #results-page h1 {
    margin: 30px 0 10px 0;
    font-size: 1.5em;
    font-weight: normal;
    margin: 50px 0 10px 0;
}    



/*===index page=== */

#thify-banner {
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 100%;
}

#thify-banner h1, #thify-banner h2
{
text-align: center;
}

#thify-banner h1 {
    margin: 0 0 0 0;
    line-height: 1.0;
    font-family: 'Special Elite', cursive;
    font-size: 3.0em;
    color: #000080;
}

#thify-banner h2 {
    margin: 10px 0 10px 0;
    line-height: 1.0;
    font-family: 'Special Elite', cursive;
    font-size: 2.0em;
    font-weight: normal;
}

#thify-banner .instructions {
    color: #777777;
    max-width: 720px;
}


#url-entry {
    height: 27px;
    padding: 5px;
    max-width: 572px;
    min-width: 572px;
    margin-bottom: 10px;
    font-size: 100%;
}


/*===request page===*/
#request-page .formheader {
    font-size: 1.2em;
    font-weight: normal;
    margin: 30px 0 10px 0;
}    

.float-right {
    float: right;
}

/* 
    Note: The rb forms (1 per column) are themselves each placed in a 
    table. Hence we need to style the outer table and the remove
    borders and padding from the inner tables
*/
.spectrum thead th {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    width: 33%;
}

.spectrum th label {
    font-weight: normal;
}

.spectrum tbody td {
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    width: 33%;
}


.spectrum tbody td table {
    border-style: none;
}

.spectrum tbody td tbody td, .spectrum tbody td tbody th {
    padding: 0 0 0 0;
    border-style: none;
    width: 100%;
}

#match-criteria label {
    font-weight: normal;
    margin-right: 5px;
}

#match-criteria input {
    width: 60px;
    text-align: right;
    padding-right: 5px;
}


/*=== results page ===*/

/* headings for search results */

#results-page .spectrum h2
{
    font-family:Verdana, Helvetica, Arial, sans-serif;
    text-indent: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 0 0;
}


#results-page .spectrum h3
{
    font-family:Verdana, Helvetica, Arial, sans-serif;
    text-indent: 0;
    text-align: left;
    font-size: 1.1em;
    font-weight: normal;
    margin: 5px 0 0 0;
}

#results-page .spectrum h4
{
    font-family:Verdana, Helvetica, Arial, sans-serif;
    text-indent: 0;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
    color: #1111aa;
    margin: 0 0 0 0;
}


#results-page .spectrum p {
    color: #555555;
}

#results-page .spectrum .res-description {
    margin: 0.5em 0 1.0em 0;
}

#results-page .spectrum .match-score {
    font-style: italic;
    margin: 0.5em 0 0 0;
}


div.pagebanner{
    background-image: url("backshore_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 210px;
    background-color: #0a0d1a;
    color: #ffffff;
}

div.banner-box {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.banner-text {
    float: left;
    margin: 0 0 15px 15px;
    padding-top: 60px;
    color: #ffffff;
    font-size: 3em;
    line-height: 1;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

#site-name a {
}

.blockquote {
    border-left: 4px solid #DDDDDD;
    color: #777777;
    padding: 0 15px;
    max-width: 720px;
}
.blockquote p {
    margin: 15px 0;
}


div.pagebanner a {
    color: #ffffff;
}
 
