$def with (start_link)

$var title: Foxes, not Hedgehogs - Be a Fox!

$var cssfiles: /static/styles.css



<h1>Welcome to <em>Foxes, not Hedgehogs</em>!</h1>

<p>On Pilip Tetlock's famous study about the accuracy of predictions (from <a href="http://longnow.org/seminars/02007/jan/26/why-foxes-are-better-forecasters-than-hedgehogs/">The Long Now</a>):</p> 

<p class="longquote">The ancient Greek warrior poet Archilochus coined the phrase: “The fox knows many things; the hedgehog one great thing.” The idea was later expanded by essayist Isaiah Berlin. In Tetlock’s interpretation, Hedgehogs have one grand theory (Marxist, Libertarian, whatever) which they are happy to extend into many domains, relishing its parsimony, and expressing their views with great confidence. Foxes, on the other hand are skeptical about grand theories, diffident in their forecasts, and ready to adjust their ideas based on actual events.</p>

<p>...</p>

<p class="lonquote">Hedgehogs annoy only their political opposition, while Foxes annoy across the political spectrum, in part because the smartest Foxes cherry-pick idea fragments from the whole array of Hedgehogs.</p>

<p>Start <a href="$start_link">here</a> to be a fox.</p>

