$def with (urlForm)

$var page_id: index-page

$var title: Thify.org - Think for yourself!

$var cssfiles: static/styles.css

<center>

<div id="thify-banner">
    <h1>Thify.org</h1>
    <h2>Think for yourself!</h2>
    <p class="instructions">Enter the URL of an article for which you'd like to get alternative or additional views<br />
      -OR- <br />Enter a search phrase
    </p>
</div>

<form name="main" method="post">
$if not urlForm.valid:
    <p class="error">Try again, AmeriCAN</p>
$:urlForm.render()

<input class="submit-button" type="submit" name="checkspec" value="Check search spec" /> 
<input class="submit-button" type="submit" name="straight" value="I'll take it straight" /> 

</form>

</center>