$def with (content)

$ static_prefix = 'https://s3.amazonaws.com/alyosha.static'
$ static_prefix = ''

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    $if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$static_prefix/$f" type="text/css" media="screen" charset="utf-8"/>
    <title>$content.title</title>
    <link rel="shortcut icon" href="$static_prefix/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="$static_prefix/static/favicon.ico" type="image/x-icon">
    $if content.jsfiles:
        $for f in content.jsfiles.split():
            <script type="text/javascript" src="$static_prefix/$f"></script>

</head>

$code:
    attrs = ''
    if content.page_id:
        attrs = 'id={0}'.format(content.page_id)

<body $attrs>
     <div id="nav-bar-top">
        <ul class="nav-main">
            <li id="nav-entry-home"><a href="/">Thify</a></li>
            <li id="nav-entry-what"><a href="/thify-what">What?</a></li>
            <li id="nav-entry-why"><a href="/thify-why">Why?</a></li>
            <li id="nav-entry-how"><a href="/thify-how">How?</a></li>
        </ul>
     </div>

     <div id="page-wrapper">
         $:content
     </div>

</body>
</html>
