$def with (content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    $if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="http://alyosha.namaniatsea.org/$f" type="text/css" media="screen" charset="utf-8"/>
    <title>$content.title</title>
</head>
<body>
    <div class="pagebanner">
        <div class="banner-box">
        <p class="banner-text" id="site-name"><a href="/">Foxes, not Hedgehogs</a></p>
        </div>
     </div>
     <div id="page-wrapper">
         $:content
     </div>
</body>
</html>
