$def with (formDict, src_cats, ref_title, ref_url)

$var page_id: request-page

$var title: Thify.org search specs

$var cssfiles: static/styles.css

<form name="main" method="post">

<h1>Search parameters based on <em><a href="$ref_url">$ref_title</a></em></h1>

<div class="float-right">
<input class="submit-button" type="submit" name="starsearch" value="Start search" />
</div>

<h2 class="formheader">Pick a search string to be used:</h2>
$if not formDict['search_strings'].valid:
    <p class="error">Try again, AmeriCAN</p>
<div class="search-strings">
    $:formDict['search_strings'].render()
</div>

<h2 class="formheader">Select the sources to be searched:</h2>
<div class="spectrum">
<table>
    <thead>
        <tr>
        $for c in src_cats:
            $if loop.first:
                $ label = 'On the {0}...'.format(c)
            $elif loop.last:
                $ label = '...and on the {0}'.format(c)
            $else:
                $ label = '...in the {0}...'.format(c)
            
            <th>$label</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        $for f in formDict['src_by_cat']:
            <td>
            $:f.render()
            </td>
        </tr>
    </tbody>
</table>
</div>

<h2 class="formheader">Fine tune search results:</h2>
<div id="match-criteria">
<p>
$:formDict['match_criteria'].render()
</p>
</div>

<div class="float-right">
<input class="submit-button" type="submit" name="starsearch" value="Start search" />
</div>

<div class="bottom-spacer">
<p> </p>
</div>


</form>
