$def with (formDict, src_cats, ref_title, ref_url)

$var title: Thify search specs

$var cssfiles: static/styles.css

<form name="main" method="post">

<h2>Search parameters based on <em>"<a href="$ref_url">$ref_title</a>"</em></h2>

<h3 class="formheader">Pick a search string to be used</h3>
$if not formDict['search_strings'].valid:
    <p class="error">Try again, AmeriCAN</p>
<div class="search-strings">
    $:formDict['search_strings'].render()
</div>
<p><em>...or roll your own:</em></p>
$if not formDict['cust_search_str'].valid:
    <p class="error">Try again, AmeriCAN</p>
$:formDict['cust_search_str'].render()

<h3 class="formheader">Select the sources to be searched</h3>
<table>
    <thead>
        <tr>
        $for c in src_cats:
            $if loop.first:
                $ label = "On the {0}...".format(c)
            $elif loop.last:
                $ label = "...and on the {0}".format(c)
            $else:
                $ label = "...in the {0}".format(c)
            
            <th>$label</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        $for f in formDict['src_by_cat']:
            <td>
            $:f.render()
            </td>
        </tr>
    </tbody>
</table>

<p>
$:formDict['match_score'].render()
</p>

<p>
$:formDict['min_wc'].render()
</p>

<h3 class="formheader">Select how many months into the past you want the search to extend</h3>
<p><em>Note: select '0' if you don't want to restrict the date range.</em></p>
$if not formDict['date_range'].valid:
    <p class="error">Try again, AmeriCAN</p>
$:formDict['date_range'].render()

<input type="submit" /> </form>
