$def with(msg)

$var page_id: thify-what

$var title: Thify.org - Think for yourself!

$var cssfiles: static/styles.css

$var jsfiles:

<div class="what-why-how-wrapper">
<h1 id="what-is-thify">What is <span class="thify-font-face">Thify</span>?</h1>
<p>Think of <span class="thify-font-face">Thify</span> as a “counter recommendation engine” for news feeds and editorial content on the web.</p>
<p>There is an increasingly vibrant discussion about how the filtering algorithms behind news feeds reinforce existing biases and prejudices. As a recent <a href="http://mathbabe.org/2014/06/30/thanks-for-a-great-case-study-facebook/#comments">comment</a> on <a href="http://mathbabe.org">mathbabe.org</a> put it:</p>
<blockquote>
<p>There was a time when there were only three major news sources available to people on a daily basis and the news they provided was governed by a fairness doctrine. The segmentation that began with cable TV has increased with the internet… This segmentation leads to a situation where one’s world view is constantly reinforced making it harder for open-mindedness to prevail.</p>
</blockquote>
<p><span class="thify-font-face">Thify</span> tries to go against this trend of self-reinforcing world views. Given the URL of a news article, an editorial or a blog post on some subject, <span class="thify-font-face">Thify</span> will suggest additional articles on the same subject from sources <em>across the opinion spectrum</em>. It will show you content that you normally wouldn’t see or look at, but that’s at least substantial and relevant enough to have a debate about. Kind of <em>“If you like this you’ll probably won’t like this but it’s still worth reading”</em>. For more background on <span class="thify-font-face">Thify</span> please look at the <a href="/thify-why">Why?</a> section.</p>
<p>Want to try it? It’s dead simple: Say you read an article in whatever your favorite news or editorial source is, and you ask yourself if there is more to that story than meets the eye. Simply take the article’s URL and paste it into the entry field on the <a href="/"><span class="thify-font-face">Thify</span> home page</a>. Then hit the “I’ll take it straight” button and <span class="thify-font-face">Thify</span> will crank away, analyzing the article at your URL and searching for content on the same subject from a hole range of sources. The result is presented as a spread across the traditional “left to right” political spectrum, with the best content matches ranking at the top. You may be surprised (or perhaps not) how much simply filling in some factual gaps can broaden or shift your view on a subject. For more details (including what’s behind that “Check search specs” button on the home page) please check out the <a href="/thify-how">How?</a> section.</p>
<h2 id="what-about-privacy">What about privacy?</h2>
<p><span class="thify-font-face">Thify</span> does not track any information about you or your searches, neither does it use cookies to “mark” your computer in any way (in fact: it does not use cookies - period). <span class="thify-font-face">Thify</span>’s results page includes some JavaScript but this does not collect any information about you or your browser. The JavaScript is required to communicate search results back and forth between your browser and the server. It also updates the results page as search results come back from the server (a pure HTTP request would have to fetch everything in one go and risk timing out).</p>
</div>
<!-- DO NOT ADD CONTENT BELOW THIS LINE - WILL BE DELETED DURING MARKDOWN UPDATE -->
