$def with (msg)

$var page_id: thify-contact

$var title: Thify.org - Think for yourself!

$var cssfiles: static/styles.css

$var jsfiles:

<div class="what-why-how-wrapper">
<h1 id="contact-thify">Contact <span class="thify-font-face">Thify</span></h1>
<p>Drop me a line at <code>ms [at] thify.org</code>.</p>
<p>At this point <span class="thify-font-face">Thify</span> is something like a first draft of an idea. If you think it could be turned into something useful let me know any ideas, comments, thoughts.</p>
<p>If you like the idea enough to want to contribute - great. Especially if you have some experience in Web design and programming, specifically CSS and JavaScript (my own experience in that domain is minimal and only acquired on an “as needed basis” for this project). Of course the backend (Python) can also use a helping hand… Have a look <a href="thify-how#thify-how-technology">here</a> to see what building blocks <span class="thify-font-face">Thify</span> uses. The code is on <a href="https://github.com/ms8r/alyosha">GitHub</a>.</p>
</div>
<!-- DO NOT ADD CONTENT BELOW THIS LINE - WILL BE DELETED DURING MARKDOWN UPDATE -->
